<mat-card appearance="outlined">

  <mat-toolbar color="primary">
    Tarefas cadastradas
  </mat-toolbar>

  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Filtrar por</mat-label>
    <mat-select (selectionChange)="atualizarFiltro($event.value)" [value]="'todas'">
      <mat-option value="todas">Todas</mat-option>
      <mat-option value="concluidas">Concluídas</mat-option>
      <mat-option value="pendentes">Pendentes</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="tarefasFiltradas$ | async as tarefas; else loading">
  <table mat-table [dataSource]="tarefas" class="mat-elevation-z8">

    <!-- Titulo Tarefa -->
    <ng-container matColumnDef="tituloTarefa">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.tituloTarefa}} </td>
    </ng-container>

    <!-- Descricao tarefa  -->
    <ng-container matColumnDef="descricaoTarefa">
      <th mat-header-cell *matHeaderCellDef> Descricao </th>
      <td mat-cell *matCellDef="let element"> {{element.descricaoTarefa}} </td>
    </ng-container>

    <!-- Data Vencimento tarefa  -->
    <ng-container matColumnDef="dataVencimentoTarefa">
      <th mat-header-cell *matHeaderCellDef> Data Vencimento </th>
      <td mat-cell *matCellDef="let element"> {{element.dataVencimentotarefa | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Status tarefa  -->
    <ng-container matColumnDef="tarefaConcluida">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          [checked]="element.tarefaConcluida"
          (change)="toggleConclusao(element)">
        </mat-checkbox>
        {{ element.tarefaConcluida ? 'Concluída' : 'Pendente' }}
      </td>
    </ng-container>

    <!-- Acoes  -->
    <ng-container matColumnDef="acoes">
     <mat-header-cell *matHeaderCellDef>
       <button mat-mini-fab color="primary" aria-label="Adicionar Tarefas">
         <mat-icon (click)="onAdd()">add</mat-icon>
       </button>
     </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" aria-label="Editar Tarefas">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warning" aria-label="Excluir Tarefas">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>
