<mat-card appearance="outlined" class="responsive-card">
  <mat-toolbar color="primary" class="responsive-toolbar">
    <span>Tarefas cadastradas</span>
  </mat-toolbar>

  <mat-form-field appearance="outline" class="filter">
    <mat-label>Filtrar</mat-label>
    <mat-select (selectionChange)="atualizarFiltro($event.value)" [value]="'todas'">
      <mat-option value="todas">Todas</mat-option>
      <mat-option value="concluidas">Concluídas</mat-option>
      <mat-option value="pendentes">Pendentes</mat-option>
    </mat-select>
  </mat-form-field>

  <app-tarefas-list
    *ngIf="tarefasFiltradas$ | async as tarefas; else loading" class="table-container"
    [tarefas]="tarefas"
    (add)="onAdd()"
    (edit)="onEdit($event)"
    (remove)="onDelete($event)"
  ></app-tarefas-list>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>
